# Configurações do Servidor
PORT=8080

# Configurações do Banco de Dados PostgreSQL
DB_HOST=db.jazuqlwewamtqqoxgyud.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=fkQSQCCucnGRNqxR
DB_NAME=postgres
DB_SSLMODE=disable 
DATABASE_URL=postgresql://postgres:fkQSQCCucnGRNqxR@db.jazuqlwewamtqqoxgyud.supabase.co:5432/postgres?sslmode=require

